.template-science .slides > article {
}

.slides > article {
  text-shadow: none !important;
  font-family: 'Lato', serif !important;
  font-weight: 400;
  font-style: normal;
}

.template-science article.biglogo {

}
  article.title .icon.over {
    font-size:600px;
  }
  .icon.under, .icon.over
  {
    position: absolute;
    left:50%;
    top:50%;
    margin-left:-.5em;
    margin-top:-.52em;
  }
    .icon.over.icon-search {
      margin-left:-.45em;
    }
    .icon.under.icon-beaker {
      margin-left:-.63em;
      margin-top:-.66em;
      font-size:200px;
    }

/*colors */

.slides > article.title > .icon {
  opacity:0.7;
  color:black;
}
.slides > article.intro.title.biglogo {
  background-color:#c9fffb;
  color:#0e2f2b;
}
.slides > article.opinion {
  background-color:#ffe2b1;
  /*color:#3f2e11;*/
}
.slides > article.realism {
  background-color:#d8ffc9;
}
  article.realism > .icon.over {margin-left:-.55em;}
.slides > article.anti-realism {
  background-color:#c9cfff;
}
  .slides > article.anti-realism > .icon.over {
    margin-left:-.433em;
    margin-top:-.499em;
    font-size:1000px;
  }
  .slides > article.anti-realism > .icon.under {
    margin-left: -.46em;
    margin-top: -.5em;
  }

.slides > article.invert {
    color:white;
    background-color:#3e5159;
  }
  .slides > article.invert > * {
    color:white !important;
  }
  article.invert.thank-you > .icon.over {
    margin-left: -.37em;
    margin-top: -.6em;
  }
/**/

.slides > article.demarcation {
  background-color:#c5f9ff;
  padding-top:200px;
}
article.demarcation > .icon.half {
  font-size:300px;
}
.demarcation > .line {
  position:absolute;
  left:50%;
  top:152px;
  height:400px;
  width:30px;
    margin-left:-15px;
  background-color:#3c4b4d;
  border-radius:20px;
}

/**/
.slides > article.philo {
  background-color:#ffc9f2;
}

.slides > article.philo > .icon.under, .slides > article.req > .icon.under {
  margin-left: -.29em;
  margin-top: -0.5em;
  font-size: 10em;
  }

  .slides > article.req > .icon.under {
    font-size: 5em;
    }

.slides > article.req > .icon.over {
  margin-left: -.42em;
  font-size: 600px;
}
.slides > article.req > .icon.under {
  background-color:#d5c9ff;
  color:#403c4d;
  opacity:1 !important;
  border-radius:300px;
}
.slides > article.req {
  background-color:#d5c9ff;

}

/**/

.slides > article.science {
  background-color:#c9fcff;
}
  .slides > article.science > .icon.over {
    margin-left:-.466em;
  }

.slides > article.phischi {}

/**/
article.discuss.invert {
  background-color:#3d3f4d;
  color:white;
  opacity:1;
}
  article.discuss.invert > *  {
    color:white !important;
    opacity:1.0 !important;
  }
/* = content
*/

h1 {
  font-weight:900 !important;
}

h2.bottom {
  position:absolute;
  bottom:1em;
  opacity:0.7;
  color:black;
}
